<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
  <form id="loginForm">
    <h2>Login</h2>
    <label>Email:</label><br />
    <input type="email" name="email" required /><br />
    <label>Contraseña:</label><br />
    <input type="password" name="password" required /><br /><br />
    <button type="submit">Ingresar</button>
  </form>

  <script src="/js/login.js"></script>
</body>
</html>
